.app {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.intro {
  font-size: large;
}

.spinner {
  height: 80px;
  margin: auto;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

.books {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}