.views {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.viewitem {
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: underline;
    color: #000;
}