.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    border-color: black;
    border-style: solid;
}

.logo {
    height: 100%;
    width: 25%;
    padding-left: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: #121212;
}

.search {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navitems {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #121212;
}